.containerup{
  align-items: center;
  background-color: #ff6b6b ;
  display: flex;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
}

.containerfav{
  align-items: center;
  background-color: #fad046 ;
  display: flex;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
}

.Libcontainer{
  background-color: #e0ce9b;
  display: flex;
  justify-content: center;
  height: 100vh;
  overflow: auto;
  text-align: center;
  }

.Libcontainer img{
  border-radius: 10px;
  margin: 10px;
}

nav{
  position: fixed;
  top: 0;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  display: flex;
  background-color: #333;
  overflow: hidden;
  padding: 15px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: #111;
  }


.container_add{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box{
  width: 500px;
  height: 600px;
  padding: 30px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  background-color: bisque;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}

.App{
  margin-top: 100px;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  
}

.App img{ 
  border-radius: 4px;
}

.fav img{ 
  background-color: #fdf598;
  box-shadow: 
    0 0 15px 8px rgb(254, 251, 108), /* middle magenta */
    0 0 18px 10px rgb(255, 225, 0);
  padding: 5px;
}

.Upload{
  margin-top: 100px;
  align-items: center;
  justify-content: center;
  display: flex; 
}

.Post{
  margin-top: 100px;
  align-items: center;
  justify-content: center;
}

.Auth {
  background-image: linear-gradient(to bottom left,#b8e282, #86d103, #256903) ;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-position: center;
}

.Login{
  background-image: linear-gradient(to bottom left,#50bafc, #1769cc, #033b69) ;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-position: center;
}

.Signup{
  background-image: linear-gradient(to bottom left,#bd97ff, #a326d0, #4c0f62) ;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-position: center;
}

.authen {
  background-color: rgba(154, 213, 234, 0.674);
  padding: 50px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  justify-content: center;
}

.authen h1 {
  margin-bottom: 20px;
}

.authen p {
  margin-top: 20px;
}

.authen .btn {
  margin-left: 5px;
  margin-right: 5px;
}

.logo{
  text-align: center;
}
.btn{
  display: flex;
  justify-content: center;
  text-align: center;
}

.btn2{
  
}
  

