.container{
  align-items: center;
  background-color: #6b9cff ;
  display: flex;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
}

.Libcontainer{
  align-items: center;
  background-color: #e0ce9b ;
  display: flex;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
}

.Libcontainer img{
  border-radius: 4px;
}

nav{
  position: fixed;
  top: 0;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  display: flex;
  background-color: #333;
  overflow: hidden;
  padding: 15px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: #111;
  }


.container_add{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box{
  width: 500px;
  height: 600px;
  padding: 30px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  background-color: bisque;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}

.App{
  margin-top: 100px;
  align-items: center;
  justify-content: center;
  display: flex;
}

.App img{
  margin: 10px;
  border-radius: 4px;
}

.fav img{ 
  background-color: rgb(255, 206, 82);
  padding: 5px;
}

.Upload{
  margin-top: 100px;
  align-items: center;
  justify-content: center;
  display: flex;
}

